.nav-color{
    background: #5cb1d7 !important;
    margin-top: -8px;
    height: 4rem;
}

.bgTeal{
    background: #5cb1d7 !important;
    border: 0px solid #5cb1d7;
}

.search-box{
    width: 18rem !important;
    
}