.user-name{
    margin-right: 100px;
    /* background: #000; */
}

/* .nav-font-color{
    color: black ;      
} */

.bold{
    font-weight:bold ;
}

.border-bold{
    border: 1px solid black !important;
}

/* .content{
    position: sticky ;
} */