.parent{
    max-width: 100%;
    margin: auto;
}.parent-border1{
    border: 1px solid black;
}

.text-justify{
    text-align:justify ;
}

.main-1
{
    border: 1px solid black;
    border-radius: 10px;
}

.over-view{
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 30px;
    padding: 0px 10px 3px 10px;
}

.over-view{
    background-color: #11abba;
    color: white;
    border-radius: 10px 0px 10px 0px;
    font-weight: 700;
    margin-top: 5px;
}

.flex-box{
    column-gap: 3px;
}

.background{
    /* background: teal; */
    color: black;
}

.title-design{
    border: 2px solid teal;
    padding: 5px 5px 5px 5px;
    border-radius: 20px 20px 20px 20px;
    font-weight: 700;
    margin-top: 5px;
}

.title-design-topic{
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
    font-weight: 700;
    margin-top: 5px;
}

.content{
    /* border: 2px solid teal; */
    border-radius: 15px;
    height: 100vh;
    /* position: fixed; */
    column-gap: 10px;
}

.bg-successs{
    color: #11abba;
    text-decoration: underline;
}

.blog-border{
    /* border: 2px solid teal; */
    border-radius: 1rem;
    padding: 1%;
}

hr{
    border: 1px solid black;
}