.parent{
    max-width: 100%;
    margin: auto;
}

.text-justify{
    text-align:justify ;
}

.main-1
{
    border: 1px solid black;
    border-radius: 10px;
}

.over-view{
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 30px;
    padding: 0px 10px 3px 10px;
}

.over-view{
    background-color: #11abba;
    color: white;
    border-radius: 10px 0px 10px 0px;
    font-weight: 700;
    margin-top: 5px;
}

.flex-box{
    column-gap: 3px;
}

.background{
    /* background: teal; */
    color: black;
}

.title-design{
    /* border: 2px solid teal; */
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    /* background-color: teal; */
    /* color: white; */
    border-radius: 15px;
    font-weight: 700;
    margin-top: 5px;
}

.title-design-topic{
    /* border: 2px solid teal; */
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    /* background-color: teal; */
    /* color: white; */
    border-radius: 15px;
    font-weight: 600;
    margin-top: 5px;
}

.content{
    /* border: 2px solid teal; */
    /* border-radius: 15px; */
    height: 100vh;
    /* column-gap: 10px; */
}

/* .blog{
    border: 2px solid teal;
    border-radius: 15px;
} */

.bg-successs{
    color: #11abba;
    text-decoration: underline;
}